@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind doesn't support hiding scrollbar directly without a plugin */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
